h2 {
    font-weight: 600;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.projects-box {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

@media(max-width: 768px) {
    .projects-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.projects-box .project-card {
    width: 31.3%;
    height: auto;
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 1%;
    padding: 1%;
}

.projects-box .viewmore-div {
    width: 31.3%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.projects-box .viewmore-div .link {
    color: #5e5e61;
    font-weight: 600;
    font-size: 14px;
}

.projects-box .viewmore-div .link span {
    margin-left: 3px;
}

@media(max-width: 768px) {

    .projects-box .project-card,
    .projects-box .viewmore-div {
        width: 96%;
        margin: 2%;
        padding: 2%;
    }
}

.projects-box .project-card .details-box {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.projects-box .project-card .details-box h3 {
    font-weight: 600;
    font-size: 16px;
}

.projects-box .project-card .details-box h6 {
    font-weight: 500;
    font-size: 14px;
    color: #5e5e61;
    word-wrap: break-word;
}

.projects-box .project-card .img-box {
    width: 35%;
    height: 300px;
    background: #e4e4e4;
    display: flex;
    justify-content: center;
    padding: 20px;
    opacity: 0.8;
    cursor: pointer;
}

@media(min-width: 1500px) {

    .projects-box .project-card .img-box,
    .projects-box .viewmore-div {
        height: 400px;
    }
}

@media(min-width: 1800px) {

    .projects-box .project-card .img-box,
    .projects-box .viewmore-div {
        height: 550px;
    }

    .projects-box .project-card .details-box h3 {
        font-size: 24px;
    }

    .projects-box .project-card .details-box h6 {
        font-size: 22px;
    }

}

.projects-box .project-card .img-box img {
    width: 100%;
    height: 100%;
}