.red-container {
    width: 100%;
    height: auto;
    background-color: #e24033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

@media(max-width: 450px) {
    .red-container {
        padding: 10px;
    }
}

.red-container .youtube-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.red-container .youtube-container .cards {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 2%;
}

@media(max-width: 768px) {
    .red-container .youtube-container .cards {
        width: 40%;
        margin: 5%;
    }
}

@media(max-width: 450px) {
    .red-container .youtube-container .cards {
        width: 65%;
        margin: 10%;
    }
}

.red-container .youtube-container .cards .img-box {
    width: 100%;
    height: 150px;
    padding: 2px;
}

.red-container .youtube-container .cards .img-box img {
    width: 100%;
    height: 100%;
}

.red-container .youtube-container .cards .title {
    height: 80px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.red-container .youtube-container .cards a,
.red-container .youtube-container .cards a:hover {
    text-decoration: none;
    color: #000;
}